    <!-- question -->
            <!-- <form action="/edit/" method="GET">
                <div class="form-group">
                    <label for="cont">Choose country to edit</label>
                    <select name="id" class="form-control">
                            <option>choose one</option>
                        <% countrySection.forEach(e => { %>
                            <option name="<%= e._id %>">test</option>  
                        <% });%>              
                    </select>
                    <div class="form-group" style="padding-top: 5%;">
                        <button class="btn btn-primary btn-lg btn-default btn-block">Submit</button>
                    </div>
                </div>
            </form> -->

              <div style="margin-top: 2rem;" class="col-12 col-md-6">
                  <div id="photo"onclick="location.href='/home/photos/<%=x._id%>'" class="card bg-none text-white">
                    <img src="<%=x.countryPhoto%>" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h2 style="text-align: center; margin-top: 20%;"> <%=x.country%></h2>
                      
                    </div>
                  </div>
              </div>


              
              <div style="margin-top: 2rem;" class="col-12 col-md-6">
                  <div id="photo"onclick="location.href='/home/photos/<%=x._id%>'" class="card bg-none text-white">
                    <img src="<%=x.countryPhoto%>" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h2 style="text-align: center; margin-top: 20%;"> <%=x.country%></h2>
                      
                    </div>
                  </div>
              </div>