<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <style>
    #info {
      margin-left: 30%;
      margin-top: 15%;
      margin-top: 20%;
      margin-bottom: 7rem;
    }

    @media screen and (max-width: 770px) {
      #info {
        margin-left: 0;
        margin-top: 0%;
      }
    }

    #textDiv {
      margin-top: 2rem;
      margin-left: 7rem;
    }

    @media screen and (max-width: 770px) {
      #textDiv {
        margin: 8%;
      }
    }

    .carousel-item {
      height: 100vh;
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .full {
      height: 36rem;
    }
  </style>

  <body>
    <!-- Page Content -->
    <div>
      <!-- Portfolio Item Row -->
      <div class="row">
        <div
          style="width: 100%; height: 100%;"
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>

          <header>
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="1"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                ></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div
                  class="carousel-item active"
                  style="background-image: url('<%=country.photos[0]%>')"
                ></div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div
                  class="carousel-item"
                  style="background-image: url('<%=country.photos[1]%>')"
                ></div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div
                  class="carousel-item"
                  style="background-image: url('<%=country.photos[2]%>')"
                ></div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleIndicators"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </header>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div id="textDiv" class="container">
          <div class="row justify-content-end">
            <a
              style="padding: 10px 20px;"
              class="btn btn-basic btn-primary"
              href="/home#<%=`${country.countryId.replace( /\s/g, '')}` %>"
              >Back</a
            >
          </div>
          <div class="row full">
            <div class="col-12 ">
              <h3 class="my-3">My travels in <%=country.country%></h3>
              <p><%=country.bodyText%></p>
            </div>
            <div class="col-12 col-md-6 ">
              <h3 class="my-3">Travel advice</h3>
              <p><%=country.travelAdvice%></p>
            </div>
            <div class="col-12 col-md-6 ">
              <div id="info">
                <h3 class="my-3">Visa information</h3>
                <p><%=country.visaInfo%></p>
                <h3 class="my-3">Dates visited</h3>
                <p><%=country.dateVisited%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
    <!-- ] -->

    <!-- Bootstrap core JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </body>
</html>
